<app-login></app-login>
<h2>Mes Miahoots</h2>

<div class="table-container">
  <table class="table">
  <thead>
  <tr>
    <th scope="col">id-Miahoot</th>
    <th scope="col">Titre du Miahoot</th>
    <th scope="col">Actions</th>
  </tr>
  </thead>
  <tbody>
  <tr *ngFor="let miahoot of miahoots">
    <th scope="row">{{ miahoot.id }}</th>
    <td>{{ miahoot.nom }}</td>
    <td>
      <button type="button" class="btn btn-primary" (click)="editMiahoot(miahoot.id);playClickSound();">Modifier</button>
      <button type="button" class="btn btn-primary" (click)="deleteMiahoot(miahoot.id);playClickSound();">Supprimer</button>
      <button type="button" class="btn btn-primary" (click)="presentMiahoot(miahoot.id);playClickSound();">Présenter</button>
    </td>
  </tr>
  </tbody>
  </table>
</div>

<button (click)="addMiahoot(miahootTest);playClickSound();">TEST FIREBASE</button>


