<body style="background-color:whitesmoke;">
  <p></p>
<mat-toolbar>
  <img src="../../assets/logo.png" width="90" height="90" *ngIf="!(isLoggedIn$ | async) && !isAuthenticating"/>
    <div class="mat-toolbar-row">
      <div *ngIf="!(isLoggedIn$ | async) && !isAuthenticating" class="mat-toolbar-spacer">
        <button class="mat-raised-button mat-primary" (click)="login()">Se connecter avec Google</button>
      </div>

    </div>
    <div class="div" *ngIf="isLoggedIn$ | async">
      <img [src]="currentUser!.photoURL" width="30">
      {{currentUser!.displayName}}
      <button (click)="this.goToPage('/accountConfig')">Paramètres</button>
    </div>
      <div>
        <button *ngIf="isLoggedIn$ | async" class="LogoutBouton" (click)="logout()">Se déconnecter</button>
    </div>
    <div *ngIf="isAuthenticating">
      <mat-spinner [diameter]="30"></mat-spinner>
    </div>
  </mat-toolbar>
  <button class="button" *ngIf="isLoggedIn$ | async">
    <img src="../../assets/accueil.png" width="50" height="50" />
  </button>




  <!--<div *ngIf="(isLoggedIn$ | async) && !pageCreation">
    <app-accueil></app-accueil>
    </div>-->
</body>

<script src="/__/firebase/11.29.1/firebase-app.js"></script>
<script src="/__/firebase/11.29.1/firebase-analytics.js"></script>
<script src="/__/firebase/init.js"></script>
