
 /* règles de style pour les écrans de taille normale */
@media screen and (min-width: 768px) {

  .champ{
    border-radius: 10px;
    outline: 2px solid #00A97F;
    border: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    background-color: #e2e2e2;
    outline-offset: 3px;
    padding: 10px 1rem;
    transition: 0.25s;
    width: 500px;
    height: 5px;
  }

  .champ:focus {
    outline-offset: 5px;
    background-color: #fff
  }



  .answer{
    border-radius: 10px;
    outline: 2px solid #00A97F;
    border: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    background-color: #e2e2e2;
    outline-offset: 3px;
    padding: 10px 1rem;
    transition: 0.25s;
    width: 200px;
    height: 5px;
  }

  .answer:focus {
    outline-offset: 5px;
    background-color: #fff
  }

  
  .map{
    text-align: center;
    margin-bottom: 70px;
    font-size: medium;
  }

  .option {
    margin-bottom: 10px;
  }

  .btn {
    margin-left: 10px;
  }

  :host {
    .row {
      margin-bottom: 1rem;
    }
    button {
      margin-left: 1rem;
    }
    .col-md-2 {
      display: flex;
    }
    .col-md-2 .btn-danger {
      align-items: center;
    }
  }

  button{
    margin-top: 10px;
    margin-bottom: 10px;
  }

  /////////////////////////////////////////////////////////////////////////////////////////////////////////////////
  .btn {
    --color: #00A97F;
    --color2: rgb(10, 25, 30);
    padding: 0.8em 1.75em;
    background-color: transparent;
    border-radius: 6px;
    border: .3px solid var(--color);
    transition: .5s;
    position: relative;
    overflow: hidden;
    cursor: pointer;
    z-index: 1;
    font-weight: 300;
    font-size: 17px;
    font-family: 'Roboto', 'Segoe UI', sans-serif;
    text-transform: uppercase;
    color: var(--color);
   }
   
   .btn::after, .btn::before {
    content: '';
    display: block;
    height: 100%;
    width: 100%;
    transform: skew(90deg) translate(-50%, -50%);
    position: absolute;
    inset: 50%;
    left: 25%;
    z-index: -1;
    transition: .5s ease-out;
    background-color: var(--color);
   }
   
   .btn::before {
    top: -50%;
    left: -25%;
    transform: skew(90deg) rotate(180deg) translate(-50%, -50%);
   }
   
   .btn:hover::before {
    transform: skew(45deg) rotate(180deg) translate(-50%, -50%);
   }
   
   .btn:hover::after {
    transform: skew(45deg) translate(-50%, -50%);
   }
   
   .btn:hover {
    color: var(--color2);
   }
   
   .btn:active {
    filter: brightness(.7);
    transform: scale(.98);
   }

  ///////////////////////////////////////////////////////////////////////////////////////////////////////////////

  .question{
    text-align: center;
  }

  .inputQ{
    display: flex;
    display: flex;
    flex-grow: 1;
    margin-right: 30px;
  }

  .btn{
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .champ-de-saisie {
    border-radius: 10px;
    outline: 2px solid #00A97F;
    border: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    background-color: #e2e2e2;
    outline-offset: 3px;
    padding: 10px 1rem;
    transition: 0.25s;
    width: 200px;
  }
  
  .champ-de-saisie:focus {
    outline-offset: 5px;
    background-color: #fff
  }

  .question-container {
    display: flex;
    justify-content: space-between;
    margin: auto;
  }

  .question-container button {
    position : absolute;
    left : auto;
    right : 25px;
  }

  .rpns{
    margin-left: 10px;
  }

  .form-group1{
    align-items: center;
    align-content: center;
  }

  #question {
    display : block;
    margin: 0 auto;
    max-width: 500px;
    width: 100%;
  }

  .area{
    height: 10px;
  }

  .titre{
    text-align: center;
  }
  

  p{
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .answer-input {
    display: block;
  }

  
  h2{
    text-align: center;
    margin-top: 30px;
  }

  .option1{
    padding: 10px;
  }

  .option{
    padding : 20px;
  }


  ////////////////////// CSS POUR LES BOUTONS D'AJOUT//////////////////////////
  
  .ajout {
    position: relative;
    width: 200px;
    height: 25px;
    cursor: pointer;
    display: flex;
    align-items: center;
    border: 1px solid #34974d;
    background-color: #3aa856;
  }
  
  .ajout, .button__icon, .button__text {
    transition: all 0.3s;
  }
  
  .ajout .button__text {
    transform: translateX(0);
    color: #fff;
    font-weight: 600;
  }
  
  .ajout .button__icon {
    position: absolute;
    transform: translateX(170px);
    height: 100%;
    width: 39px;
    background-color: #34974d;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .ajout .svg {
    width: 30px;
    stroke: #fff;
  }
  
  .ajout:hover {
    background: #34974d;
  }
  
  .ajout:hover .button__text {
    color: transparent;
  }
  
  .ajout:hover .button__icon {
    width: 148px;
    transform: translateX(0);
  }
  
  .ajout:active .button__icon {
    background-color: #2e8644;
  }
  
  .ajout:active {
    border: 1px solid #2e8644;
  }

  /////////////////////////////////////////////////////////////////////////////
  /// 
  

  
html {
  height:100%;
}

body {
  margin:0;
}

.bg {
  animation:slide 3s ease-in-out infinite alternate;
  background-image: linear-gradient(-60deg, #6c3 50%, #09f 50%);
  bottom:0;
  left:-50%;
  opacity:.5;
  position:fixed;
  right:-50%;
  top:0;
  z-index:-1;
}

.bg2 {
  animation-direction:alternate-reverse;
  animation-duration:4s;
}

.bg3 {
  animation-duration:5s;
}


@keyframes slide {
  0% {
    transform:translateX(-25%);
  }
  100% {
    transform:translateX(25%);
  }
}

}


  #creator-body{
    //background-image: url('../../assets/1.png');
    background-size: cover;
    background-color: azure;
    padding : 10px;
    min-height: 100vh;
  }








  /* règles de style pour les écrans de petite taille */
  @media screen and (max-width: 767px) {

    
  .champ{
    border-radius: 10px;
    outline: 2px solid #00A97F;
    border: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    background-color: #e2e2e2;
    outline-offset: 3px;
    padding: 10px 1rem;
    transition: 0.25s;
    width: 500px;
  }

  .champ:focus {
    outline-offset: 5px;
    background-color: #fff
  }
  
  .map{
    text-align: center;
    margin-bottom: 70px;
    font-size: medium;
  }

  .option {
    margin-bottom: 10px;
  }

  .btn {
    margin-left: 10px;
  }

  :host {
    .row {
      margin-bottom: 1rem;
    }
    button {
      margin-left: 1rem;
    }
    .col-md-2 {
      display: flex;
    }
    .col-md-2 .btn-danger {
      align-items: center;
    }
  }

  button{
    margin-top: 10px;
    margin-bottom: 10px;
  }

  .question{
    text-align: center;
  }

  .inputQ{
    display: flex;
    display: flex;
    flex-grow: 1;
    margin-right: 30px;
  }

  .btn{
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .champ{
    width : 40%;
  }

  .question-container {
    display: flex;
    justify-content: space-between;
    margin: auto;
  }

  .question-container button {
    position : absolute;
    left : auto;
    right : 25px;
  }

  .rpns{
    margin-left: 10px;
  }

  .form-group1{
    align-items: center;
    align-content: center;
  }

  #question {
    display : block;
    margin: 0 auto;
    max-width: 500px;
    width: 100%;
  }

  .area{
    height: 10px;
  }

  .titre{
    text-align: center;
  }
  

  p{
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .answer-input {
    display: block;
  }

  
  h2{
    text-align: center;
    margin-top: 30px;
  }
    
    
  }

 

  ///////////// CSS POUR LE CHECKBOX ///////////////////////////////////////////////////////
  
  .cl-checkbox {
    position: relative;
    display: inline-block;
   }
   
   /* Input */
   .cl-checkbox > input {
    appearance: none;
    -moz-appearance: none;
    -webkit-appearance: none;
    z-index: -1;
    position: absolute;
    left: -10px;
    top: -8px;
    display: block;
    margin: 0;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    background-color: rgba(0, 0, 0, 0.6);
    box-shadow: none;
    outline: none;
    opacity: 0;
    transform: scale(1);
    pointer-events: none;
    transition: opacity 0.3s, transform 0.2s;
   }
   
   /* Span */
   .cl-checkbox > span {
    display: inline-block;
    width: 100%;
    cursor: pointer;
   }
   
   /* Box */
   .cl-checkbox > span::before {
    content: "";
    display: inline-block;
    box-sizing: border-box;
    margin: 3px 11px 3px 1px;
    border: solid 2px;
    /* Safari */
    border-color: rgba(0, 0, 0, 0.6);
    border-radius: 2px;
    width: 18px;
    height: 18px;
    vertical-align: top;
    transition: border-color 0.2s, background-color 0.2s;
   }
   
   /* Checkmark */
   .cl-checkbox > span::after {
    content: "";
    display: block;
    position: absolute;
    top: 3px;
    left: 1px;
    width: 10px;
    height: 5px;
    border: solid 2px transparent;
    border-right: none;
    border-top: none;
    transform: translate(3px, 4px) rotate(-45deg);
   }
   
   /* Checked, Indeterminate */
   .cl-checkbox > input:checked,
   .cl-checkbox > input:indeterminate {
    background-color: #00A97F;
   }
   
   .cl-checkbox > input:checked + span::before,
   .cl-checkbox > input:indeterminate + span::before {
    border-color: #00A97F;
    background-color: #00A97F;
   }
   
   .cl-checkbox > input:checked + span::after,
   .cl-checkbox > input:indeterminate + span::after {
    border-color: #fff;
   }
   
   .cl-checkbox > input:indeterminate + span::after {
    border-left: none;
    transform: translate(4px, 3px);
   }
   
   /* Hover, Focus */
   .cl-checkbox:hover > input {
    opacity: 0.04;
   }
   
   .cl-checkbox > input:focus {
    opacity: 0.12;
   }
   
   .cl-checkbox:hover > input:focus {
    opacity: 0.16;
   }
   
   /* Active */
   .cl-checkbox > input:active {
    opacity: 1;
    transform: scale(0);
    transition: transform 0s, opacity 0s;
   }
   
   .cl-checkbox > input:active + span::before {
    border-color: #00A97F;
   }
   
   .cl-checkbox > input:checked:active + span::before {
    border-color: transparent;
    background-color: rgba(0, 0, 0, 0.6);
   }
   
   /* Disabled */
   .cl-checkbox > input:disabled {
    opacity: 0;
   }
   
   .cl-checkbox > input:disabled + span {
    color: rgba(0, 0, 0, 0.38);
    cursor: initial;
   }
   
   .cl-checkbox > input:disabled + span::before {
    border-color: currentColor;
   }
   
   .cl-checkbox > input:checked:disabled + span::before,
   .cl-checkbox > input:indeterminate:disabled + span::before {
    border-color: transparent;
    background-color: currentColor;
   }


   //////// CSS POUR LES BOUTONS DE SUPPRESSION//////////////
   
   .sup {
    width: 200px;
    height: 20px;
    cursor: pointer;
    display: flex;
    align-items: center;
    background: rgb(188, 59, 59);
    border: none;
    border-radius: 5px;
    box-shadow: 1px 1px 3px rgba(0,0,0,0.15);
    background: rgb(188, 59, 59);
   }
   
   .sup span {
    transition: 200ms;
   }
   
   .sup .text {
    transform: translateX(0);
    color: white;
    font-weight: bold;
    text-align: center;
   }
   
   .sup .icon {
    position: absolute;
    border-left: 1px ;
    transform: translateX(150px);
    height: 40px;
    width: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
   }
   
   .sup svg {
    width: 15px;
    fill: #eee;
   }
   
   .sup:hover {
    background: rgb(188, 59, 59);
   }
   
   .sup:hover .text {
    color: transparent;
   }
   
   .sup:hover .icon {
    width: 150px;
    border-left: none;
    transform: translateX(0);
   }
   
   .sup:focus {
    outline: none;
   }
   
   .sup:active .icon svg {
    transform: scale(0.8);
   }
   




  



