<body>
<h2>Bienvenue sur la page de création de votre nouveau Miahoot ! </h2>
<form (ngSubmit)="submitMiahoot()">
    <div class="form-group1">
      <label for="question"></label>
      <input type="text" placeholder="Ecrivez votre question ici" maxlength=100 class="form-control" id="question" [(ngModel)]="question" name="question" required>
    </div>

    <div class="options-container">
      <div class="option" *ngFor="let answer of answers; let i=index">
        <div>
          <label for="answer{{i+1}}">Réponse possible {{i+1}}:</label>
          <!--<input type="text" class="form-control" id="answer{{i+1}}" [(ngModel)]="answers[i]"  name="answers" required>-->
          <textarea placeholder="Entrez votre reponse" class="area" id="answer{{i+1}}" [(ngModel)]="answers[i]"  name="answers" required >Entrez votre reponse</textarea>
        </div>
        <div class="right">
           <button type="button" class="btn btn-danger" (click)="removeOption(i)">Supprimer</button>
        </div>
      </div>
      <div class="right">
        <button type="button" class="btn btn-primary" (click)="addOption()">Ajouter une réponse possible</button>
      </div>
    </div>

<!--(ngModelChange)="answers[i]=$event"-->
    <!--  <div class="form-group">
      <label>Réponse(s) correcte(s)</label>
      <div class="form-check">
        <input class="form-check-input" type="radio" name="correctAnswer" [(ngModel)]="correctAnswer" [value]="0" required>
        <label class="form-check-label" for="correctAnswer">
          Réponse 1
        </label>
      </div>
      <div class="form-check">
        <input class="form-check-input" type="radio" name="correctAnswer" [(ngModel)]="correctAnswer" [value]="1" required>
        <label class="form-check-label" for="correctAnswer">
          Réponse 2
        </label>
      </div>
      <div class="form-check">
        <input class="form-check-input" type="radio" name="correctAnswer" [(ngModel)]="correctAnswer" [value]="2" required>
        <label class="form-check-label" for="correctAnswer">
          Réponse 3
        </label>
      </div>
      <div class="form-check">
        <input class="form-check-input" type="radio" name="correctAnswer" [(ngModel)]="correctAnswer" [value]="3" required>
        <label class="form-check-label" for="correctAnswer">
          Réponse 4
        </label>
      </div>
    </div> -->
    <button type="submit" class="btn btn-primary">Créer votre Miahoot</button>
  </form>
</body>

