.answer-input {
    display: block;
  }


  .option {
    margin-bottom: 10px;
  }

  .btn {
    margin-left: 10px;
  }

  :host {
    .row {
      margin-bottom: 1rem;
    }
    button {
      margin-left: 1rem;
    }
    .col-md-2 {
      display: flex;
    }
    .col-md-2 .btn-danger {
      align-items: center;
    }
  }

  h2{
    text-align: center;
    margin-top: 30px;
  }

  body{
    background-image: url("../../assets/1.png");
    background-size: cover;
  }

  .form-group1{
    align-items: center;
    align-content: center;
  }

  #question {
    display : block;
    margin: 0 auto;
    max-width: 500px;
    width: 100%;
  }

  .area{
    height: 10px;
  }
