/*Règles pour les écrans de taille normale*/
@media screen and (min-width : 768px){

.mat-toolbar-spacer {
  margin-left: auto;
}


.mat-raised-button  {
  background-color: blue;
  color: white;
  border-radius: 10px;
}

mat-toolbar {
  background-color: rgb(247, 245, 245);
  height: 90px;
}



.mat-toolbar-row{
  height: 90;
}

.LogoutBouton{
  position: relative;
  right: 0;
  margin : 0 70px;
  background-color: blue;
  color: white;
  border-radius: 10px;
}

IMG.img{
  display: block;
  margin-left: auto;
  margin-right: auto }

p{
  text-align: center;
  margin-top: 30px;

}

.ButtonQuizz{
  background-color: grey;
  color : black;
  border-radius: 100px;
  width : 150px;
  height: 75px;
  margin: auto;
}
 .div{
  position: absolute;
  left: 0px;
 }




 button {
  width: 170px;
  height: 60px;
  border: 3px solid #315cfd;
  border-radius: 45px;
  transition: all 0.3s;
  cursor: pointer;
  background: white;
  font-size: 0.7em;
  font-weight: 550;
  font-family: 'Montserrat', sans-serif;
}

button:hover {
  background: #315cfd;
  color: white;
  font-size: 0.9em;
}

}

body{
  height: 150px;
 }


 /*Règles pour les écran de petite taille*/

 @media screen and (max-width : 767px){

  mat-toolbar-spacer {
    margin-left: auto;
  }
  
  
  .mat-raised-button  {
    background-color: blue;
    color: white;
    border-radius: 10px;
  }
  
  mat-toolbar {
    background-color: lightgray;
    height: 90px;
  }
  
  
  
  .mat-toolbar-row{
    height: 90;
  }
  
  .LogoutBouton{
    position: absolute;
    right: 0;
    margin : 0 70px;
    background-color: blue;
    color: white;
    border-radius: 10px;
  }
  
  IMG.img{
    display: block;
    margin-left: auto;
    margin-right: auto }
  
  p{
    text-align: center;
    margin-top: 30px;
  
  }
  
  .ButtonQuizz{
    background-color: grey;
    color : black;
    border-radius: 100px;
    width : 150px;
    height: 75px;
    margin: auto;
  }
   .div{
    position: absolute;
    left: 0px;
   }
  
  
   .button{
    background : white;
    width : 60px;
    height: 60px;
    border-radius: 10px;
  
   }

 }