<!-- <h1>Editer le Miahoot dont le titre est : "{{ miahoot.nom }}"</h1>
<form (ngSubmit)="submitMiahoot()">
  <div *ngFor="let question of miahoot.questions; let i = index">
    <h2>Question {{ i + 1 }}</h2>
    <input [(ngModel)]="question.label" name="question_{{ i }}_label" />
    <button type="button" (click)="removeQuestion(i)">Supprimer la question</button>
    <div *ngFor="let answer of question.answers; let j = index">
      <label>
        <input type="radio" [(ngModel)]="answer.estValide"  name="question_{{ i }}_answer">

      -->


  

      
  <script src="/__/firebase/11.29.1/firebase-app.js"></script>
  <script src="/__/firebase/11.29.1/firebase-analytics.js"></script>
  <script src="/__/firebase/init.js"></script>