<app-login></app-login>

     <div class="container">
        <div class="row">
          <div class="col-12">
            <h2>Bienvenu sur la page d'édition de votre miahoot '{{miahoot.nom}}'. Vous avez la possibilité d'ajouter et/ou de supprimer des questions.
                Vous pouvez également ajouter et/ou supprimer des réponses pour chaque question.
                Quand vous aurez terminé, n'oubliez pas de sauvegarder vos modifications <img src="../../assets/emoji_rire.png" width="20" height="18"> .

                Vous avez changé d'avis entre temps  <img src="../../assets/emoji_question.png" width="20" height="18"> ? Cliquez juste sur le bouton Annuler <img src="../../assets/em.png" width="20" height="18"> . 
            </h2>
          </div>
        </div>
      
        <form #miahootForm="ngForm" (ngSubmit)="submitMiahoot()">
          <div class="row">
            <div class="col-12 mb-3">
              <label for="nom" class="form-label">Nom du Miahoot</label>
              <input type="text" class="form-control" id="nom" name="nom" [ngModel]="miahoot.nom" required> 
            </div>
          </div>
      
          <hr>
      
          <div *ngIf="miahoot.questions.length > 0" class="row">
            <div class="col-12">
              <h3>Liste des questions</h3>
            </div>
            <div class="col-12">
              <div class="list-group">
                <div *ngFor="let question of miahoot.questions; let i = index" class="list-group-item"> 
                  <div class="form-group mb-3">
                    <label for="question-{{i}}">Question {{i + 1}}</label>
                    <input type="text" class="form-control" id="question-{{i}}" name="question-{{i}}" [(ngModel)]="question.label" required>
                  </div>
                  <!---->
                  <div class="form-group mb-3">
                    <label for="answers-{{i}}">Réponses</label>
                    <div id="answers-{{i}}">
                      <div *ngFor="let reponse of question?.reponses; let j = index" class="form-check">
                        <label class="form-check-label" for="answer-{{i}}-{{j}}">Réponse {{j + 1}}</label>
                        <input type="text"  class ="inputR" [(ngModel)]="reponse.label" [ngModelOptions]="{standalone: true}" placeholder="Entrez votre réponse" maxlength=100 required>
                        <label class="rpns">Réponse correcte ?</label><input type="checkbox" [(ngModel)]="reponse.estValide" (change)="changeValidite(question, j)" [disabled]="alreadyOneTrueOption(question,j) == true && !reponse.estValide">
                        <button  type="button" class="btn btn-success" (click)="removeAnswer(question, i)">Supprimer la réponse</button>
                      </div>
                      <button type="button" class="btn btn-success" (click)="addAnswer(question)">Ajouter une réponse</button>
                    </div>
                  </div>
                  <button type="button" class="btn btn-success" (click)="removeQuestion(i)">Supprimer cette question</button>
                </div>
              </div>
            </div>
          </div>
      
          <button type="button" class="btn btn-success" (click)="addQuestion()">Ajouter une question</button>
          <hr>
      
          <button type="submit" class="btn btn-primary">Sauvegarder</button>
          <button type="button" class="btn btn-danger mb-3" (click)="cancel()">Annuler</button>
        </form>
      </div> 
  <script src="/__/firebase/11.29.1/firebase-app.js"></script>
  <script src="/__/firebase/11.29.1/firebase-analytics.js"></script>
  <script src="/__/firebase/init.js"></script>
