
 /* règles de style pour les écrans de taille normale */
@media screen and (min-width: 768px) {

  .champ-de-saisie{
    width: 50%;
  }
  
  .map{
    text-align: center;
    margin-bottom: 70px;
    font-size: medium;
  }

  .option {
    margin-bottom: 10px;
  }

  .btn {
    margin-left: 10px;
  }

  :host {
    .row {
      margin-bottom: 1rem;
    }
    button {
      margin-left: 1rem;
    }
    .col-md-2 {
      display: flex;
    }
    .col-md-2 .btn-danger {
      align-items: center;
    }
  }

  button{
    margin-top: 10px;
    margin-bottom: 10px;
  }

  .question{
    text-align: center;
  }

  .inputQ{
    display: flex;
    display: flex;
    flex-grow: 1;
    margin-right: 30px;
  }

  .btn{
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .champ{
    width : 40%;
  }

  .question-container {
    display: flex;
    justify-content: space-between;
    margin: auto;
  }

  .question-container button {
    position : absolute;
    left : auto;
    right : 25px;
  }

  .rpns{
    margin-left: 10px;
  }

  .form-group1{
    align-items: center;
    align-content: center;
  }

  #question {
    display : block;
    margin: 0 auto;
    max-width: 500px;
    width: 100%;
  }

  .area{
    height: 10px;
  }

  .titre{
    text-align: center;
  }
  

  p{
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .answer-input {
    display: block;
  }

  
  h2{
    text-align: center;
    margin-top: 30px;
  }

}


  #creator-body{
    //background-image: url('../../assets/1.png');
    background-size: cover;
    background-color: azure;
    padding : 10px;
    min-height: 100vh;
  }



  /* règles de style pour les écrans de petite taille */
  @media screen and (max-width: 767px) {

    
  .champ-de-saisie{
    width: 50%;
  }
  
  .map{
    text-align: center;
    margin-bottom: 70px;
    font-size: medium;
  }

  .option {
    margin-bottom: 10px;
  }

  .btn {
    margin-left: 10px;
  }

  :host {
    .row {
      margin-bottom: 1rem;
    }
    button {
      margin-left: 1rem;
    }
    .col-md-2 {
      display: flex;
    }
    .col-md-2 .btn-danger {
      align-items: center;
    }
  }

  button{
    margin-top: 10px;
    margin-bottom: 10px;
  }

  .question{
    text-align: center;
  }

  .inputQ{
    display: flex;
    display: flex;
    flex-grow: 1;
    margin-right: 30px;
  }

  .btn{
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .champ{
    width : 40%;
  }

  .question-container {
    display: flex;
    justify-content: space-between;
    margin: auto;
  }

  .question-container button {
    position : absolute;
    left : auto;
    right : 25px;
  }

  .rpns{
    margin-left: 10px;
  }

  .form-group1{
    align-items: center;
    align-content: center;
  }

  #question {
    display : block;
    margin: 0 auto;
    max-width: 500px;
    width: 100%;
  }

  .area{
    height: 10px;
  }

  .titre{
    text-align: center;
  }
  

  p{
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .answer-input {
    display: block;
  }

  
  h2{
    text-align: center;
    margin-top: 30px;
  }
    
    
  }

 

  

 




  



//animation
@import url('https://fonts.googleapis.com/css?family=Source+Code+Pro:200');

body  {
    background-image: url('https://static.pexels.com/photos/414171/pexels-photo-414171.jpeg');
  background-size:cover;
        -webkit-animation: slidein 100s;
        animation: slidein 100s;

        -webkit-animation-fill-mode: forwards;
        animation-fill-mode: forwards;

        -webkit-animation-iteration-count: infinite;
        animation-iteration-count: infinite;

        -webkit-animation-direction: alternate;
        animation-direction: alternate;
}

@-webkit-keyframes slidein {
from {background-position: top; background-size:3000px; }
to {background-position: -100px 0px;background-size:2750px;}
}

@keyframes slidein {
from {background-position: top;background-size:3000px; }
to {background-position: -100px 0px;background-size:2750px;}

}



.center
{
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  margin: auto;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: rgba(75, 75, 250, 0.3);
  border-radius: 3px;
}
.center h1{
  text-align:center;
  color:white;
  font-family: 'Source Code Pro', monospace;
  text-transform:uppercase;
}
