<app-login></app-login>

<div class="bg"></div>
<div class="bg bg2"></div>
<div class="bg bg3"></div>

<div class="content">
  <img class="img" src="../../assets/logo.png" width="90" height="90" />
  <p classe="p">Vous pouvez apprendre et/ou enseigner en couleurs juste en créant votre Miahoot ! </p>
  <p><button class="ButtonQuizz" (click)="this.goToPage()">Nouveau Miahoot</button></p>
  <p><button class="ButtonQuizz" (click)="goToMyQuizzs()">Mes Miahoots</button></p>


  <div class="pyro">
    <div class="before"></div>
    <div class="after"></div>
  </div>

  <script src="/__/firebase/11.29.1/firebase-app.js"></script>
  <script src="/__/firebase/11.29.1/firebase-analytics.js"></script>
  <script src="/__/firebase/init.js"></script>

</div>
